#root{
    position: absolute;
    top: 5%;
    direction: rtl;
}

.team-blue{
    color: #1048a2 !important;
}

.bg-team-blue{
    background-color: #1048a2 !important;
}

.pointer{
    cursor: pointer;
}

#root .btn.btn-primary{
    background-color: #1048a2;
}