.wrap-app{
    padding: 2%;
}
.section-title {
    text-align: center;
    color: #1048a2;
    padding: 6% 0 4%;
    font-size: 2rem;
    
    h1.title {
        font-size: 3rem;
    }
    
    hr {
        width: 50px;
        margin: auto;
        border-width: 5px;
        margin-top: 20px;
        opacity: 1;
        color: #1048a2;
    }
}