.voted-parties{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .party-edit{
        position: relative;
        margin: 1%;
        text-align: center;
        padding: 3%;
        flex-basis: 14%;
        border: solid 1px black;
        border-radius: 10px;

        input{
            position: absolute;
            bottom: 10px;
            left: 10%;
            width: 80%;
            margin: auto;
        }
    }
}
.status-bet{
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #1048a2;
    color: white;
    padding: 0.2% 5%;
    width: 100%;

    .btn{
        background-color: white;
        color: #1048a2;
    }
}

@media screen and (max-width: 600px) {
    .voted-parties{
        .party-edit{
            padding-top: 20%;
            flex-basis: 70%;
            margin: auto;
            height: 250px;
            margin-top: 5%;

            party-letters{
                font-size: 2rem;
            }
        }
    }
}