.voted-parties{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .edit-button{
        flex-basis: 100%;
        text-align: center;
    }
    .party-edit{
        position: relative;
        margin: 1%;
        text-align: center;
        padding: 3%;
        flex-basis: 14%;
        border: solid 1px black;
        border-radius: 10px;

        .wrap-input{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            position: absolute;
            bottom: 10px;
            left: 5%;
            width: 90%;

            input{
                text-align: center;
                flex-basis: 50%;
                width: 50%;
            }
            input:read-only{
                background-color: #1048a2;
                color: white;
            }
        }
    }
}
.status-bet{
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #1048a2;
    color: white;
    padding: 0.2% 5%;
    width: 100%;

    .btn.btn-primary{
        background-color: white !important;
        color: #1048a2;
    }
}

@media screen and (max-width: 600px) {
    .voted-parties{
        .party-edit{
            padding-top: 15%;
            flex-basis: 70%;
            margin: auto;
            height: 250px;
            margin-top: 5%;

            .party-letters{
                font-size: 2.3rem;
                margin: 0;
                padding: 0;
            }
        }
    }
}